<pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
  <!-- START card -->
  <div class="card card-transparent">
    
    <div class="card-header ">
      <div class="card-title">Informations
      </div>
     
      <div class="clearfix"></div>
    </div>
    <div class="card-body" style="padding: 50px 100px;">
      <form role="form">
        <div class="form-group-attached">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>Nom et prenom</label>
                <input type="text" class="info form-control"  [(ngModel)]="nomPrenom" name="nomPrenom" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>CIN</label>
                <input type="text" class="info form-control" [(ngModel)]="cin" name="cin" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Num permis</label>
                <input type="text" class=" info form-control" [(ngModel)]="permis" name="permis" readonly>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END card -->
</pg-container>