<pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
    <!-- START card -->
    <div class="card card-transparent">
      
      <div class="card-header ">
        <div class="card-title">Statistiques
        </div>
        <div class="pull-right" style="width: 150px;">
            
          </div>
        <div class="clearfix"></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12"> <ngx-charts-pie-chart *ngIf = "chartdata"
            [view]="view"
            [scheme]="colorScheme"
            [results]="countryData"
            [legend]="'true'"
            [explodeSlices]="false"
            [labels]="true"
            [legendTitle]="'Reservation'"
            [doughnut]="false"
            (select)="onSelect($event)">
          </ngx-charts-pie-chart></div>
         
        </div>
       
      
      </div>
    </div>
    <!-- END card -->
    <div class="card card-transparent">
      
      <div class="card-header ">
        <div class="card-title">Centres de visite techniques les plus proches de vous 
        </div>
        <div class="pull-right" style="width: 150px;">
            
          </div>
        <div class="clearfix"></div>
      </div>
      <div class="card-body">
          <div #map id="map" ></div>

      </div>
    </div>
 
  </pg-container>
  

 
   
     